/* GENERAL */
@import 'normalize';

$primary-color: #8f2242;
$light-color: #fff;

html {
	box-shadow: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 100%;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	min-height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

a {
	text-decoration: none;
	transition: all 0.2s ease;
	color: $primary-color;
}

a:hover {
	color: #bb96a1;
}

h1 {
	font-family: "Sriracha", cursive;
	color: $primary-color;
}

p {
	margin-left: 1%;
	line-height: 1.6em;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 4px 2%;
}

.banner {
	max-width: 100%;
	height: 150px;
	background-color: $primary-color;
	padding-bottom: 8px;
}

.logo {
	text-indent: -9999px;
	height: 150px;
	width: 150px;
	margin: 0;
	float: left;
}

.logo a {
	display: block;
	background: url("assets/images/logo.png") center 0 no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.menu {
	float: right;
	margin-top: 100px;
}

.menu li {
	display: inline-block;
	margin: 1px;
}

.menu a {
	display: inline-block;
	padding: 7px 9px;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 700;
	color: $light-color;
}

.menu a:hover, .router-link-exact-active {
	background: #771431;
}

.menu2 {
	display: none;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: $primary-color;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border: 1px solid #ccc
}

.dropdown-content a {
	color: $light-color;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #771431;
	border-radius: 0
}

.dropdown:hover .dropdown-content {
	display: block;
	transition: all 0.5s ease;
}

#map {
	width: 100%;
	height: 350px;
	margin: 30px auto 0;
	border: 1px solid #b99ba4;
	background-color: grey;
}

.contact {
	width: 50%;
	float: left;
}

.contact h1 {
	display: block;
}

article {
	margin-bottom: 15%;
}

article img {
	cursor: pointer;
	transition: all 0.15s ease;
}

article img:hover {
	opacity: 0.7;
}

article>p:last-of-type {
	margin-bottom: 50px;
}

table p {
	margin: 10px;
}

td {
	min-width: 80px;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.03em;
	margin-bottom: 2px;
	margin-left: 8px;
}

.services {
	overflow: hidden;
	position: relative;
	width: 100%;
	border-radius: 5px;
	padding: 0 0.3% 3%;
	margin-bottom: 5%x;
}

.services p {
	margin-top: 5px;
}

.services h2:first-child {
	margin-top: 3px;
}

table {
	width: 100%;
}

table,
tr,
td {
	border-collapse: collapse;
}

td {
	padding: 0;
}

td:nth-child(2) {
	text-align: right;
}

table p {
	margin: 10px 0 0;
	line-height: 1.1em;
	padding-left: 0;
	padding-right: 0;
	cursor: default;
}

tr {
	border-bottom: 1px solid $light-color;
}

tr:hover {
	border-bottom: 1px dashed #cacaca;
	transition: all .1s ease-in-out;
}

tr.empty:hover {
	border-bottom: 1px solid $light-color;
}

div.left {
	float: left;
}

div.right {
	max-width: 50%;
	float: right;
}

.gallery #silentbox-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.services img {
	margin: 0 2%;
	border: 1px #cccccc solid;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	background-color: $primary-color;
	color: $light-color;
}

footer a {
	color: $light-color;
}

.foot {
	font-size: .8em;
	display: inline-block;
	width: 20%;
	margin: 0 2%;
}

.services .gallery {
	float: left;
	width: 28%;
	margin: .8%;
	max-height: 200px;
}

/* MEDIA RESPONSIVE */

@media ( max-width: 700px) {
	.foot {
		width: 40%;
	}
	article {
		margin-bottom: 230px;
	}
}

@media ( max-width: 530px) {
	.logo {
		float: none;
		margin: 0 auto;
	}
	.menu {
		display: none;
	}
	.menu2 {
		display: block;
		-webkit-padding-start: 0;
	}
	.menu2 a {
		border-radius: 4px;
		font-size: 16px;
		font-weight: 700;
		color: $light-color;
		padding: 1.4%;
	}
	.menu2 ul {
		margin: 0 auto;
		padding: 0;
	}
	.menu2 li {
		list-style: none;
		padding: 2% 0;
		text-align: center;
	}
	.menu2 a:hover {
		background: #771431;
	}
	.banner {
		height: auto;
	}
	article {
		margin-bottom: 335px;
	} 
	.foot {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	article img {
		width: 100%;
	}
	.contact {
		float: none;
		display: block;
		margin: 0 auto;
		padding-top: 15px;
	}
	h1 {
		text-align: center;
		font-size: 1.65em;
	}
	.services .gallery {
		max-width: none;
		float: none;
		width: 90%;
		max-height: none;
		margin: .3% auto;
		display: block;
	}
}
